#monty-canvas {
	background-color:green;
	height:500px;
	width:900px;
	border:solid 6px brown;
	border-radius:8px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	-ms-border-radius:8px;
	-o-border-radius:8px;
	box-shadow:#111 1px 1px 2px;
}

#help-text {
    text-align: center;
    margin-top: 400px;
    margin-right: 100px;
    background-color: white;
    border: solid 4px black;
    width: 99%;
}
.card {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 100px;
    line-height: 150px;
    height: 150px;
    width: 150px;
    float: left;
    border: solid 2px brown;
    box-shadow: #111 1px 1px 2px;
    transition: all 1s ease-out;
}

table {
    width: 100%;
    border: solid 1px black;
    text-align: center;
}

td, th {
    border: solid 1px black;
}

.clicked {
    box-shadow: red 8px 8px 16px;
}
.card:hover {
    box-shadow: #111 8px 8px 16px;
    cursor: pointer;
}